In [1]:
import pandas as pd
import urllib3

In [2]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [3]:
http = urllib3.PoolManager()
r = http.request('GET',medals_url)
r.status
#response = r.data.decode('UTF-8')

200

In [8]:
#Codificamos a UTF8
datos = r.data.decode('UTF-8')
#dividimos en líneas (filas)
lineas = datos.split("\n")

In [9]:
print(lineas[0]) #cabecera
print(lineas[1]) #primera fila de datos

Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver

In [10]:
#extraemos la cabecera
nombre_columnas = lineas[0].split(",")
num_col = len(nombre_columnas)

In [11]:
print(nombre_columnas)
print(num_col)

['Year', 'City', 'Sport', 'Discipline', 'NOC', 'Event', 'Event gender', 'Medal']
8

In [12]:
#generamos el diccionario
#recuerda: clave (nombre columna) con conjunto de datos
#incluimos contador RECOMENDABLE SIEMPRE
contador = 0
diccionario = {}
for columna in nombre_columnas:
    diccionario[columna] = [] #ya tenemos nuestras claves con su contenido vacio
    #IMPORTANTE
    #el diccionario se define con llaves {}
    #las listas se defines con corchetes []
    #el diccionario en cada clave guarda una lista de datos (porque lo hemos definido asi)
    #si definimos la lista de dentro como {} será diccionario y no podremos llamar a dict.append
diccionario

{'Year': [],
 'City': [],
 'Sport': [],
 'Discipline': [],
 'NOC': [],
 'Event': [],
 'Event gender': [],
 'Medal': []}

In [13]:
#rellenamos el diccionario fila a fila. OJO: la cabecera ya esta procesada
for linea in lineas:
    if(contador > 0): #con esto nos saltamos la fila 0 (cabecera)
        valores = linea.strip().split(",")
        #recuerda: strip retira caracteres de espacio en blanco por defecto
        #ahora añadimos cada valor a su columna
        for i in range(len(nombre_columnas)):
            diccionario[nombre_columnas[i]].append(valores[i])
    contador += 1
    
print("El data set tiene %d filas y %d columnas" % (contador, num_col))

El data set tiene 2312 filas y 8 columnas

In [14]:
medallas_df = pd.DataFrame(diccionario)
medallas_df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [15]:
medallas_df.to_csv("python-ml-course-master/datasets/athletes/medalas_abel.csv")
medallas_df.to_excel("python-ml-course-master/datasets/athletes/medalas_abel.xls")
medallas_df.to_json("python-ml-course-master/datasets/athletes/medalas_abel.json")