In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [3]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))
    
height = 160 + 30 * np.random.randn(n)
weigth = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [4]:
gender_data[1:10]

['Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male']

In [5]:
income_data[1:10]

['Middle Class',
 'Middle Class',
 'Poor',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Poor']

In [6]:
df = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weigth" : weigth,
        "Age" : age,
        "Income" : income
    }
)

In [7]:
df.head()

   Gender Economic Status      Height     Weigth        Age        Income
0    Male            Rich  145.667287  39.807780  41.411807  18112.276176
1  Female    Middle Class  162.900981  59.153878  32.300578  16786.141599
2    Male    Middle Class  108.185602  75.827639  29.097524  20575.305923
3    Male            Poor  167.789200  98.179692  23.623017  25095.313343
4    Male    Middle Class  158.700212  93.635105  28.616208  20786.974882

## Agrupación de datos

In [8]:
grouped_gender = df.groupby("Gender")

In [9]:
grouped_gender.groups

{'Female': Int64Index([  1,   5,  10,  14,  15,  17,  18,  21,  22,  23,
             ...
             481, 482, 483, 485, 486, 488, 492, 495, 497, 499],
            dtype='int64', length=248),
 'Male': Int64Index([  0,   2,   3,   4,   6,   7,   8,   9,  11,  12,
             ...
             480, 484, 487, 489, 490, 491, 493, 494, 496, 498],
            dtype='int64', length=252)}

In [10]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weigth        Age        Income
1    Female    Middle Class  162.900981   59.153878  32.300578  16786.141599
5    Female    Middle Class  167.090208   -0.096965  20.168648  17151.735806
10   Female    Middle Class  193.465512   98.000798  51.167999  17288.814002
14   Female    Middle Class  165.510330  107.071932  -7.124844  17474.925834
15   Female    Middle Class  137.698113   58.361958  36.702620  16606.099993
17   Female            Rich  159.020354   48.971412  50.077078  20673.154691
18   Female            Rich  134.355546   14.914067  44.517532  22978.521277
21   Female            Poor  241.640755   53.500686  10.207928  16611.505628
22   Female            Rich  192.374781   70.489894  24.522865  22321.164212
23   Female    Middle Class  152.315813   71.223860   5.115728  20249.195852
24   Female            Poor  159.006814   38.409325  50.195885  13487.582856
26   Female    Middle Class  135.723294   78.575644  45.153159  18458.245481
27   Female            Poor  158.452783   69.068012 -13.412417  14711.038408
28   Female    Middle Class  165.059858   81.423767  13.661850  13632.313133
29   Female            Rich  122.260180   84.576865  34.214804  23331.261356
31   Female            Poor  176.684227   60.298112   7.536407  17858.297344
32   Female            Rich  130.216570  106.968398  22.483260  21991.261478
33   Female            Rich  148.155283   45.967767  13.635220  18766.773179
35   Female    Middle Class  162.491461  102.177531  32.731660  17760.294898
39   Female            Rich  154.716259   69.488105  22.280320  22383.934981
43   Female            Poor  150.145040   96.449298  41.367123  15764.064816
46   Female            Poor  143.033213   99.144942  36.170278  18919.810924
47   Female    Middle Class  143.534637   62.847246  38.959397  16439.085203
50   Female            Poor  177.066255   66.820563  39.015887  17665.153668
56   Female            Rich  155.585529   81.272931  26.614855  12271.483775
59   Female    Middle Class  170.900542   92.302621  13.688123  12327.421074
61   Female            Rich  165.413984   61.757579  30.484520  18149.578871
63   Female            Poor  148.732681   67.066923  28.178362  19370.222784
64   Female            Rich  178.921534   53.932476  -3.110599  19123.311125
65   Female            Rich  148.809015   51.961761  36.645292  20333.177116
..      ...             ...         ...         ...        ...           ...
448  Female    Middle Class  180.209844   60.611689  33.994265  21127.483554
449  Female            Rich  177.990576   58.760147  29.732263  16954.005220
451  Female            Poor  181.326533   62.541233  41.179738  13803.420751
452  Female            Rich  193.961224   31.543398  30.815135  24435.559451
453  Female            Rich  163.278770   22.465984  25.372318  15301.414327
455  Female            Poor  104.664243  106.553783  28.875762  14424.653281
456  Female    Middle Class  161.396801  111.901904  32.617371  23298.928750
459  Female            Rich  130.524018   29.741139  39.135619  12820.570157
461  Female    Middle Class  135.506288    6.143262  43.070149  18141.776973
464  Female    Middle Class  163.146397   53.491163  37.419055  16119.607320
466  Female            Poor  168.446624   36.780598  27.458978  15255.013580
467  Female    Middle Class  214.381633   65.941753  25.833482  18280.451978
468  Female            Poor  146.242523   82.576662  40.953410  18441.157442
470  Female            Poor  139.865254   10.727104   8.357366  15864.298906
471  Female            Poor  168.225979   57.814390  28.123065  17172.350394
472  Female    Middle Class  132.151859   43.903565  27.790917  19533.981077
474  Female            Poor  121.737049   68.152776  39.690478  20474.884612
475  Female            Poor  166.769342   72.328475  44.869907  16059.457895
478  Female    Middle Class  142.097351   86.382347   7.184467  27783.101875
479  Female    Middle Class  169.022802   64.892759  33.828024  16723.563277
481  Female            Poor   86.154789   84.601529  16.783372  18870.604238
482  Female            Rich  128.587609   66.011870  39.871378  15825.275902
483  Female            Rich  168.989282   63.144023  15.978556  19159.578471
485  Female    Middle Class  147.414657   75.179279   8.115492  15666.925176
486  Female            Rich  222.583848  119.767806  32.286349  16673.804075
488  Female            Rich  106.581844   71.807449  29.548280  17600.967095
492  Female    Middle Class  166.679845   55.892530   3.965257  18150.322600
495  Female            Rich  142.548339   79.034317  22.108284  19458.672612
497  Female    Middle Class  162.078842   89.187136  38.301885   8652.188312
499  Female    Middle Class  118.641335   52.473739  25.585683  19726.116933

[248 rows x 6 columns]
Male
    Gender Economic Status      Height      Weigth        Age        Income
0     Male            Rich  145.667287   39.807780  41.411807  18112.276176
2     Male    Middle Class  108.185602   75.827639  29.097524  20575.305923
3     Male            Poor  167.789200   98.179692  23.623017  25095.313343
4     Male    Middle Class  158.700212   93.635105  28.616208  20786.974882
6     Male    Middle Class  156.308076   95.124869  22.789150  22507.222329
7     Male    Middle Class  142.409353   46.506682  25.442115  15281.462627
8     Male    Middle Class   88.451596   35.447169  40.431117  22205.015718
9     Male            Poor  112.606492   72.163438  40.241491  23777.443432
11    Male            Rich   93.000689  112.474992  34.374904  15840.728011
12    Male    Middle Class  176.778099   58.722034   7.121648  18134.717211
13    Male            Poor  155.681946   40.684761  15.811538  16706.829021
16    Male            Rich  196.512213   68.790383  42.001090  19234.035151
19    Male    Middle Class  149.243165   86.049748  17.406954  17486.945181
20    Male    Middle Class  149.505437   42.458741  28.246052  17402.902426
25    Male            Poor  163.473347   79.343091  29.174360  19620.669593
30    Male    Middle Class  159.821690   19.532996  33.166258  16728.164242
34    Male            Poor  150.084524   65.767127  48.389327  13479.406523
36    Male            Rich  120.731389   61.354800  26.017327  20270.931827
37    Male            Poor   90.832982   69.226440  21.340098  20363.857354
38    Male    Middle Class  152.886545   98.370574  21.772068  10136.947996
40    Male            Poor  143.683913   44.758326  31.852193  18386.626225
41    Male    Middle Class  122.714962   69.632789  33.829336  12485.871215
42    Male            Poor  125.578014   76.201327  32.422884  18708.028291
44    Male            Rich  233.473688   26.780107  27.843420  16312.104136
45    Male            Rich  123.992219   28.609898  33.981218  17498.038597
48    Male            Poor  185.785761   50.521952  29.791063  25802.782467
49    Male    Middle Class  219.345058   66.274690  20.969446  22700.595793
51    Male    Middle Class  167.093891   31.927242  24.088450  13255.299169
52    Male            Rich  166.291884   72.660428  18.865490  19329.059576
53    Male            Poor  120.405256  105.354049  24.680149  19392.153164
..     ...             ...         ...         ...        ...           ...
429   Male            Rich  152.320480   58.049413  18.530395  12711.031312
430   Male            Poor  203.555179    0.461745  22.756222  12894.360056
435   Male            Rich  174.757899   43.180754  14.766030  20095.283648
436   Male            Rich  223.167415   48.691133  28.147671  14334.038264
442   Male            Rich  161.103681  101.577927  37.228156  13728.779876
443   Male    Middle Class  203.306970  100.251436  42.486809  24181.166810
444   Male    Middle Class  184.867849   30.694990  43.992571  19850.748091
447   Male            Rich   92.799699   36.617051  14.667262  11831.077766
450   Male            Poor  134.331837   73.889157  29.382545  20185.680328
454   Male            Rich  219.606279   94.975253  31.963382  19678.429362
457   Male    Middle Class  172.384786   67.760553  25.871133  18980.277803
458   Male            Rich  150.282219   70.930902  13.693952  16577.530905
460   Male    Middle Class  190.482757   64.126210  27.645616  20978.308661
462   Male            Poor  179.531652   51.429035  13.791143  17231.142257
463   Male            Rich  136.537752  116.974141  20.489298  20103.981094
465   Male            Poor  150.450309   95.922513  45.608712  19759.879448
469   Male            Rich  161.862670   43.464744  31.621539  19158.274857
473   Male    Middle Class  158.685204  104.312119  14.651610  14722.316339
476   Male    Middle Class  136.254832   84.144615  18.654959  24836.692704
477   Male            Rich  181.690085   69.480650  28.189675  19348.311637
480   Male    Middle Class  181.145284   53.383072  44.447831  19344.139981
484   Male            Rich  112.042664   47.391597  15.708689  18654.028618
487   Male            Rich  181.217423   67.204530  42.004397  15825.391444
489   Male            Rich  108.885885   35.626823  20.762382  19354.883404
490   Male            Rich  177.624192   15.596320  39.540179  17851.823557
491   Male            Rich  157.074168  113.183566  18.405461  17617.917194
493   Male    Middle Class  208.197236   58.829107  42.175291  17395.267849
494   Male            Poor   87.099570   36.365494  35.469188  18059.249943
496   Male    Middle Class  197.242393   59.433413  22.086584  15783.533968
498   Male            Rich  183.045628   75.622061  37.297434   6944.580956

[252 rows x 6 columns]

In [11]:
grouped_gender.get_group("Female")

     Gender Economic Status      Height      Weigth        Age        Income
1    Female    Middle Class  162.900981   59.153878  32.300578  16786.141599
5    Female    Middle Class  167.090208   -0.096965  20.168648  17151.735806
10   Female    Middle Class  193.465512   98.000798  51.167999  17288.814002
14   Female    Middle Class  165.510330  107.071932  -7.124844  17474.925834
15   Female    Middle Class  137.698113   58.361958  36.702620  16606.099993
17   Female            Rich  159.020354   48.971412  50.077078  20673.154691
18   Female            Rich  134.355546   14.914067  44.517532  22978.521277
21   Female            Poor  241.640755   53.500686  10.207928  16611.505628
22   Female            Rich  192.374781   70.489894  24.522865  22321.164212
23   Female    Middle Class  152.315813   71.223860   5.115728  20249.195852
24   Female            Poor  159.006814   38.409325  50.195885  13487.582856
26   Female    Middle Class  135.723294   78.575644  45.153159  18458.245481
27   Female            Poor  158.452783   69.068012 -13.412417  14711.038408
28   Female    Middle Class  165.059858   81.423767  13.661850  13632.313133
29   Female            Rich  122.260180   84.576865  34.214804  23331.261356
31   Female            Poor  176.684227   60.298112   7.536407  17858.297344
32   Female            Rich  130.216570  106.968398  22.483260  21991.261478
33   Female            Rich  148.155283   45.967767  13.635220  18766.773179
35   Female    Middle Class  162.491461  102.177531  32.731660  17760.294898
39   Female            Rich  154.716259   69.488105  22.280320  22383.934981
43   Female            Poor  150.145040   96.449298  41.367123  15764.064816
46   Female            Poor  143.033213   99.144942  36.170278  18919.810924
47   Female    Middle Class  143.534637   62.847246  38.959397  16439.085203
50   Female            Poor  177.066255   66.820563  39.015887  17665.153668
56   Female            Rich  155.585529   81.272931  26.614855  12271.483775
59   Female    Middle Class  170.900542   92.302621  13.688123  12327.421074
61   Female            Rich  165.413984   61.757579  30.484520  18149.578871
63   Female            Poor  148.732681   67.066923  28.178362  19370.222784
64   Female            Rich  178.921534   53.932476  -3.110599  19123.311125
65   Female            Rich  148.809015   51.961761  36.645292  20333.177116
..      ...             ...         ...         ...        ...           ...
448  Female    Middle Class  180.209844   60.611689  33.994265  21127.483554
449  Female            Rich  177.990576   58.760147  29.732263  16954.005220
451  Female            Poor  181.326533   62.541233  41.179738  13803.420751
452  Female            Rich  193.961224   31.543398  30.815135  24435.559451
453  Female            Rich  163.278770   22.465984  25.372318  15301.414327
455  Female            Poor  104.664243  106.553783  28.875762  14424.653281
456  Female    Middle Class  161.396801  111.901904  32.617371  23298.928750
459  Female            Rich  130.524018   29.741139  39.135619  12820.570157
461  Female    Middle Class  135.506288    6.143262  43.070149  18141.776973
464  Female    Middle Class  163.146397   53.491163  37.419055  16119.607320
466  Female            Poor  168.446624   36.780598  27.458978  15255.013580
467  Female    Middle Class  214.381633   65.941753  25.833482  18280.451978
468  Female            Poor  146.242523   82.576662  40.953410  18441.157442
470  Female            Poor  139.865254   10.727104   8.357366  15864.298906
471  Female            Poor  168.225979   57.814390  28.123065  17172.350394
472  Female    Middle Class  132.151859   43.903565  27.790917  19533.981077
474  Female            Poor  121.737049   68.152776  39.690478  20474.884612
475  Female            Poor  166.769342   72.328475  44.869907  16059.457895
478  Female    Middle Class  142.097351   86.382347   7.184467  27783.101875
479  Female    Middle Class  169.022802   64.892759  33.828024  16723.563277
481  Female            Poor   86.154789   84.601529  16.783372  18870.604238
482  Female            Rich  128.587609   66.011870  39.871378  15825.275902
483  Female            Rich  168.989282   63.144023  15.978556  19159.578471
485  Female    Middle Class  147.414657   75.179279   8.115492  15666.925176
486  Female            Rich  222.583848  119.767806  32.286349  16673.804075
488  Female            Rich  106.581844   71.807449  29.548280  17600.967095
492  Female    Middle Class  166.679845   55.892530   3.965257  18150.322600
495  Female            Rich  142.548339   79.034317  22.108284  19458.672612
497  Female    Middle Class  162.078842   89.187136  38.301885   8652.188312
499  Female    Middle Class  118.641335   52.473739  25.585683  19726.116933

[248 rows x 6 columns]

In [14]:
double_group = df.groupby(["Gender","Economic Status"])

In [15]:
len(double_group)

6

In [16]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height      Weigth        Age        Income
1    Female    Middle Class  162.900981   59.153878  32.300578  16786.141599
5    Female    Middle Class  167.090208   -0.096965  20.168648  17151.735806
10   Female    Middle Class  193.465512   98.000798  51.167999  17288.814002
14   Female    Middle Class  165.510330  107.071932  -7.124844  17474.925834
15   Female    Middle Class  137.698113   58.361958  36.702620  16606.099993
23   Female    Middle Class  152.315813   71.223860   5.115728  20249.195852
26   Female    Middle Class  135.723294   78.575644  45.153159  18458.245481
28   Female    Middle Class  165.059858   81.423767  13.661850  13632.313133
35   Female    Middle Class  162.491461  102.177531  32.731660  17760.294898
47   Female    Middle Class  143.534637   62.847246  38.959397  16439.085203
59   Female    Middle Class  170.900542   92.302621  13.688123  12327.421074
69   Female    Middle Class  141.068134   72.022127  22.946327  19189.712096
79   Female    Middle Class  129.774615   60.646656  30.813180  17325.978836
81   Female    Middle Class  116.275619   43.258825  17.895593  18488.816623
88   Female    Middle Class  179.168719   62.570591  31.933644  18342.093485
93   Female    Middle Class  185.682174   71.528036  35.156403  18155.066933
94   Female    Middle Class  186.678224   45.629358  43.815970  24195.457196
96   Female    Middle Class  242.956410   66.257358  27.628430  26074.452577
119  Female    Middle Class  100.450544  115.945310  36.236792  18590.246496
124  Female    Middle Class  114.373996   77.735578  29.060414  13656.010724
126  Female    Middle Class  157.910354   51.992600  31.161534  15398.630865
132  Female    Middle Class  180.495085   34.794577  24.807596  14111.954360
142  Female    Middle Class  177.143994   62.393174  57.387291  21301.082985
150  Female    Middle Class  165.028133   44.643338  32.638202  15176.297305
158  Female    Middle Class  144.825769   60.356762  19.885789  16278.081418
165  Female    Middle Class  130.499460   84.565917  24.497989  22089.823268
167  Female    Middle Class  157.076571   76.069857  26.207267  18181.672476
172  Female    Middle Class   23.421541   63.160525  31.230004  20510.000861
180  Female    Middle Class  178.696791   29.293894  39.145344  20342.915162
214  Female    Middle Class  174.831243  109.773838  41.933168  20178.251949
..      ...             ...         ...         ...        ...           ...
335  Female    Middle Class  221.399903   94.845219  25.980915  20258.086815
353  Female    Middle Class  145.042369   70.996240  37.964288  21089.767254
362  Female    Middle Class  186.726219   13.356405  35.398338  21974.804980
379  Female    Middle Class  160.686565   66.124382   7.136590  17380.249485
382  Female    Middle Class  113.896224   79.156411  19.209711  22846.662346
386  Female    Middle Class  167.025713   56.048108  22.458254  19476.376533
392  Female    Middle Class  136.182918   90.655691  26.346015  19315.261788
395  Female    Middle Class  133.358936   89.147530  12.015940  20146.345051
400  Female    Middle Class  164.846814   44.726541  32.606272  18970.169497
401  Female    Middle Class  128.849217   39.828870  35.675803  18644.825184
405  Female    Middle Class  177.278583   -3.436681  43.936016  14802.719464
414  Female    Middle Class  172.526950   80.058049  47.110519  19257.756129
415  Female    Middle Class  209.593248   71.846643  31.250209  15552.339604
420  Female    Middle Class  154.732603   74.541124  29.081255  17137.011210
425  Female    Middle Class  194.306413  105.384614  35.661054  17446.762507
437  Female    Middle Class  182.607791   75.568579  24.927312  16619.946678
441  Female    Middle Class  166.295229   48.783773  55.278031  24104.902398
445  Female    Middle Class  205.171717   84.748761  27.129546  16438.542421
448  Female    Middle Class  180.209844   60.611689  33.994265  21127.483554
456  Female    Middle Class  161.396801  111.901904  32.617371  23298.928750
461  Female    Middle Class  135.506288    6.143262  43.070149  18141.776973
464  Female    Middle Class  163.146397   53.491163  37.419055  16119.607320
467  Female    Middle Class  214.381633   65.941753  25.833482  18280.451978
472  Female    Middle Class  132.151859   43.903565  27.790917  19533.981077
478  Female    Middle Class  142.097351   86.382347   7.184467  27783.101875
479  Female    Middle Class  169.022802   64.892759  33.828024  16723.563277
485  Female    Middle Class  147.414657   75.179279   8.115492  15666.925176
492  Female    Middle Class  166.679845   55.892530   3.965257  18150.322600
497  Female    Middle Class  162.078842   89.187136  38.301885   8652.188312
499  Female    Middle Class  118.641335   52.473739  25.585683  19726.116933

[83 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weigth        Age        Income
21   Female            Poor  241.640755   53.500686  10.207928  16611.505628
24   Female            Poor  159.006814   38.409325  50.195885  13487.582856
27   Female            Poor  158.452783   69.068012 -13.412417  14711.038408
31   Female            Poor  176.684227   60.298112   7.536407  17858.297344
43   Female            Poor  150.145040   96.449298  41.367123  15764.064816
46   Female            Poor  143.033213   99.144942  36.170278  18919.810924
50   Female            Poor  177.066255   66.820563  39.015887  17665.153668
63   Female            Poor  148.732681   67.066923  28.178362  19370.222784
66   Female            Poor  122.941058   86.185156  37.738200  18666.107790
70   Female            Poor  136.382477   39.296070  34.982878  17919.193953
71   Female            Poor  167.829184   76.883734  33.578298  14456.524609
82   Female            Poor  175.040308  113.244680  32.864668  16340.593006
98   Female            Poor  217.356053   70.191076  16.080034  12929.522911
104  Female            Poor  131.175635   41.374528  30.749569  19664.049589
107  Female            Poor  162.435004   87.162511   5.736411  16107.202778
109  Female            Poor  184.203646   48.731434   8.177119  22343.049467
116  Female            Poor   85.799810   53.488270  28.359618  21700.629197
118  Female            Poor  154.265716   71.479158  35.656317  20723.725949
122  Female            Poor  132.810188  -19.740970  18.618099  19623.397245
123  Female            Poor  156.586544   53.724180  42.968350  20697.528837
135  Female            Poor  220.968414  107.816248  21.446545  15933.810824
136  Female            Poor  149.643694   59.792569  52.473890  21590.838143
143  Female            Poor  112.103230   57.012072  28.509632  15358.946661
145  Female            Poor  156.422600   97.867978  25.112258  24049.544788
147  Female            Poor  136.619080   80.512365  43.020107  16041.931139
155  Female            Poor  167.931411   39.963987  34.352835  15863.543426
157  Female            Poor  184.649275   84.896359  25.568588  21237.964812
162  Female            Poor  145.242070   35.651290  19.581273  19628.946921
164  Female            Poor  131.970080   54.753642  38.907908  20177.469010
171  Female            Poor  243.776699   35.736129  38.154117  15990.452447
..      ...             ...         ...         ...        ...           ...
294  Female            Poor  154.583539   53.626539  15.389594  23816.349746
299  Female            Poor  166.105804   49.215286  38.041505  15066.703589
314  Female            Poor  175.658626  102.766148  28.782668  17737.064828
317  Female            Poor  167.750774   58.720151  43.828991  20983.939556
341  Female            Poor  155.963833   23.715343  18.260887  18432.054774
342  Female            Poor  136.671305   64.528286  32.406198  19241.402363
344  Female            Poor  157.082237   41.762526  22.029160  23506.069786
351  Female            Poor  193.455199   60.897522  22.849412  19843.532942
354  Female            Poor  126.634226   92.495077  13.999628  16892.437735
358  Female            Poor  137.572979   58.301656  37.993879  17254.929634
378  Female            Poor  217.201655   70.231301  44.781313  22002.541667
396  Female            Poor  200.519414   33.687378  36.691928  12706.286306
399  Female            Poor  156.723930   52.776779  24.111735  17629.441354
406  Female            Poor  129.208888   72.881039  17.572701  17820.669944
409  Female            Poor  126.523031   31.381051  50.129970  20121.970288
422  Female            Poor  121.942408   73.823529  32.323172  14736.349699
431  Female            Poor  216.479159   60.984489  23.648627  14562.345062
434  Female            Poor  127.666791   48.166426  41.447174  15285.114570
439  Female            Poor  156.646304  115.506262  29.815698  18300.724824
440  Female            Poor  172.750398   55.977457  33.061667  14704.189584
446  Female            Poor  137.018887   59.518925  49.159889  15899.780299
451  Female            Poor  181.326533   62.541233  41.179738  13803.420751
455  Female            Poor  104.664243  106.553783  28.875762  14424.653281
466  Female            Poor  168.446624   36.780598  27.458978  15255.013580
468  Female            Poor  146.242523   82.576662  40.953410  18441.157442
470  Female            Poor  139.865254   10.727104   8.357366  15864.298906
471  Female            Poor  168.225979   57.814390  28.123065  17172.350394
474  Female            Poor  121.737049   68.152776  39.690478  20474.884612
475  Female            Poor  166.769342   72.328475  44.869907  16059.457895
481  Female            Poor   86.154789   84.601529  16.783372  18870.604238

[74 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weigth        Age        Income
17   Female            Rich  159.020354   48.971412  50.077078  20673.154691
18   Female            Rich  134.355546   14.914067  44.517532  22978.521277
22   Female            Rich  192.374781   70.489894  24.522865  22321.164212
29   Female            Rich  122.260180   84.576865  34.214804  23331.261356
32   Female            Rich  130.216570  106.968398  22.483260  21991.261478
33   Female            Rich  148.155283   45.967767  13.635220  18766.773179
39   Female            Rich  154.716259   69.488105  22.280320  22383.934981
56   Female            Rich  155.585529   81.272931  26.614855  12271.483775
61   Female            Rich  165.413984   61.757579  30.484520  18149.578871
64   Female            Rich  178.921534   53.932476  -3.110599  19123.311125
65   Female            Rich  148.809015   51.961761  36.645292  20333.177116
74   Female            Rich   98.175206   82.368647  44.669560  17508.100813
78   Female            Rich  152.329351   53.425498  21.693303  16700.124699
83   Female            Rich  145.266564    8.438856  42.872918  13637.510814
87   Female            Rich  119.972551   22.243570  41.263092  23400.547209
91   Female            Rich  148.195680   79.751426  43.477681  19381.772722
92   Female            Rich  175.458394   75.817195   8.234378  21101.308670
97   Female            Rich  186.051174   91.549836  28.537333  19053.157018
100  Female            Rich  188.430799   11.603362  13.276837  17324.696794
102  Female            Rich  146.380580   36.118391  19.250907  17417.495408
110  Female            Rich   97.900876   94.175059  36.875067  18746.745211
113  Female            Rich  204.949798   73.584434  14.851789  22437.026488
115  Female            Rich  173.113161  111.109132  29.918761  22277.937183
117  Female            Rich  134.979689   76.627196  43.583527  26452.708042
120  Female            Rich  156.699006   61.102724  25.803575  19185.851194
121  Female            Rich  140.340991   93.439247  33.587319  14396.827896
137  Female            Rich  164.499589   92.307224  39.753156  11934.678168
138  Female            Rich  135.998335   72.634858  34.307895  17235.045747
144  Female            Rich  157.540615   40.176253  43.886729  15524.587812
148  Female            Rich  127.872605   54.631568  35.683645  10263.012455
..      ...             ...         ...         ...        ...           ...
315  Female            Rich  167.727908   86.738518  39.128939  18771.837577
325  Female            Rich  185.966788   29.420644  42.209637  20476.654132
328  Female            Rich  188.334593   69.259912  37.311828  21297.900112
330  Female            Rich  203.263104   81.932043  25.913291  18927.641933
332  Female            Rich  204.772536   94.568708  35.705042  15794.920744
334  Female            Rich  146.937016   94.847600  33.096057  22921.002727
346  Female            Rich  137.110648  113.538822  17.893131  17589.705915
364  Female            Rich  137.305912   21.394346  45.316753  17806.492286
373  Female            Rich  160.187124   77.711949  34.963033  19686.938425
380  Female            Rich  167.354294   55.724891  49.259626  19467.783204
397  Female            Rich  178.384062   71.015398  35.725327  19820.507670
408  Female            Rich  165.835545   79.701416  20.257335  17943.510819
411  Female            Rich  178.755168  111.912863  27.156840  21190.351624
417  Female            Rich  172.125425   64.585240  49.597149  22302.373780
418  Female            Rich  190.690507   70.237181  34.197995  21194.473670
419  Female            Rich  149.508416   69.550575  39.996409  21312.285817
424  Female            Rich  199.743382   20.803875  24.340057  17556.921017
428  Female            Rich  203.742737   88.194396  50.185496  16473.615045
432  Female            Rich  140.110556   74.458382  10.276133  20494.079044
433  Female            Rich  152.522351   61.862687  24.951858  18885.092519
438  Female            Rich   86.715702   22.665354   2.498222  18583.672542
449  Female            Rich  177.990576   58.760147  29.732263  16954.005220
452  Female            Rich  193.961224   31.543398  30.815135  24435.559451
453  Female            Rich  163.278770   22.465984  25.372318  15301.414327
459  Female            Rich  130.524018   29.741139  39.135619  12820.570157
482  Female            Rich  128.587609   66.011870  39.871378  15825.275902
483  Female            Rich  168.989282   63.144023  15.978556  19159.578471
486  Female            Rich  222.583848  119.767806  32.286349  16673.804075
488  Female            Rich  106.581844   71.807449  29.548280  17600.967095
495  Female            Rich  142.548339   79.034317  22.108284  19458.672612

[91 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weigth        Age        Income
2     Male    Middle Class  108.185602   75.827639  29.097524  20575.305923
4     Male    Middle Class  158.700212   93.635105  28.616208  20786.974882
6     Male    Middle Class  156.308076   95.124869  22.789150  22507.222329
7     Male    Middle Class  142.409353   46.506682  25.442115  15281.462627
8     Male    Middle Class   88.451596   35.447169  40.431117  22205.015718
12    Male    Middle Class  176.778099   58.722034   7.121648  18134.717211
19    Male    Middle Class  149.243165   86.049748  17.406954  17486.945181
20    Male    Middle Class  149.505437   42.458741  28.246052  17402.902426
30    Male    Middle Class  159.821690   19.532996  33.166258  16728.164242
38    Male    Middle Class  152.886545   98.370574  21.772068  10136.947996
41    Male    Middle Class  122.714962   69.632789  33.829336  12485.871215
49    Male    Middle Class  219.345058   66.274690  20.969446  22700.595793
51    Male    Middle Class  167.093891   31.927242  24.088450  13255.299169
60    Male    Middle Class  174.105682   24.994325  32.980804  27756.711035
67    Male    Middle Class  177.020414   58.354312  40.505422  18807.227775
72    Male    Middle Class  197.550366   42.175189  19.642160  12603.611733
77    Male    Middle Class  147.136530   42.989269  34.939091  18418.479493
85    Male    Middle Class  140.599585   96.457499  10.669245  14855.529160
90    Male    Middle Class  152.794640   59.009913  23.679905  22379.316470
103   Male    Middle Class  126.460967   62.244012  40.680572  18188.480984
108   Male    Middle Class  142.082191   37.056697  29.784537  18415.279733
128   Male    Middle Class  167.791502   77.571235  21.340956  21118.007887
130   Male    Middle Class  162.542741   25.138067  46.770583  20856.403494
140   Male    Middle Class  190.987290  108.259419  30.768152  19806.713797
141   Male    Middle Class  106.363700  100.526822  22.413421  12933.772643
153   Male    Middle Class  127.224344   79.469071  41.064266  18144.160792
154   Male    Middle Class  146.324674   65.370302  37.681944  13108.165905
182   Male    Middle Class  156.972669   84.099345  15.087799  19525.978830
183   Male    Middle Class  164.093199   70.327973  15.981722  20750.251788
197   Male    Middle Class  176.085662   77.591072  21.875767  17229.398167
..     ...             ...         ...         ...        ...           ...
349   Male    Middle Class  188.761495   65.491213   4.949157  21755.804579
352   Male    Middle Class   97.825901  107.592801  44.797330  15566.461689
356   Male    Middle Class  131.010335   52.665336  31.291291  24081.701311
357   Male    Middle Class  120.943600   80.458141  32.273740  11882.776900
359   Male    Middle Class  167.964576   18.672285  31.649957  17309.923524
366   Male    Middle Class  195.948329   93.177706  34.582472  15603.007985
367   Male    Middle Class  148.865118   89.802507  22.318862  19536.659350
369   Male    Middle Class  145.146148   32.972340  36.730359  11384.129277
370   Male    Middle Class  249.007664   81.745788  27.723901  17946.661111
371   Male    Middle Class  170.486692   63.698505  42.106974  16702.949111
377   Male    Middle Class  151.964866   34.014161  33.212477  19901.589068
383   Male    Middle Class  121.990768   65.894458  41.227263  19287.825415
388   Male    Middle Class  118.832047   95.487987  38.194429  17724.118853
390   Male    Middle Class  138.555265   83.375345  29.719282  15493.538652
404   Male    Middle Class  154.739991   79.918589   8.606106  15169.072079
407   Male    Middle Class  139.617842   28.368408  28.870076  12352.503553
410   Male    Middle Class   95.367515   55.044873  20.616400  19811.457442
421   Male    Middle Class  139.800400   82.664526  17.631871  22146.255558
423   Male    Middle Class  133.685738   51.867882  31.497468  18891.271838
426   Male    Middle Class  156.230020   59.716569  27.851668  12220.310580
427   Male    Middle Class  155.750765   40.349249  32.584820  17833.703655
443   Male    Middle Class  203.306970  100.251436  42.486809  24181.166810
444   Male    Middle Class  184.867849   30.694990  43.992571  19850.748091
457   Male    Middle Class  172.384786   67.760553  25.871133  18980.277803
460   Male    Middle Class  190.482757   64.126210  27.645616  20978.308661
473   Male    Middle Class  158.685204  104.312119  14.651610  14722.316339
476   Male    Middle Class  136.254832   84.144615  18.654959  24836.692704
480   Male    Middle Class  181.145284   53.383072  44.447831  19344.139981
493   Male    Middle Class  208.197236   58.829107  42.175291  17395.267849
496   Male    Middle Class  197.242393   59.433413  22.086584  15783.533968

[77 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weigth        Age        Income
3     Male            Poor  167.789200   98.179692  23.623017  25095.313343
9     Male            Poor  112.606492   72.163438  40.241491  23777.443432
13    Male            Poor  155.681946   40.684761  15.811538  16706.829021
25    Male            Poor  163.473347   79.343091  29.174360  19620.669593
34    Male            Poor  150.084524   65.767127  48.389327  13479.406523
37    Male            Poor   90.832982   69.226440  21.340098  20363.857354
40    Male            Poor  143.683913   44.758326  31.852193  18386.626225
42    Male            Poor  125.578014   76.201327  32.422884  18708.028291
48    Male            Poor  185.785761   50.521952  29.791063  25802.782467