# Data Wrangling

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("python-ml-course-master/datasets/customer-churn-model/Customer Churn Model.txt")

In [3]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Crear un subconjunto de datos

In [4]:
account_length = df["Account Length"]

In [5]:
account_length.head() # esto no es un df es un series o vector

0    128
1    107
2    137
3     84
4     75
Name: Account Length, dtype: int64

In [6]:
type(account_length)

pandas.core.series.Series

In [7]:
sub_df = df[["Account Length","Phone","Eve Charge","Day Calls"]]

In [8]:
sub_df.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [9]:
type(sub_df)

pandas.core.frame.DataFrame

In [10]:
desired_columns = ["Account Length","Phone","Eve Charge","Day Calls"]
sub2_df = df[desired_columns]
sub2_df.head()

   Account Length     Phone  Eve Charge  Day Calls
0             128  382-4657       16.78        110
1             107  371-7191       16.62        123
2             137  358-1921       10.30        114
3              84  375-9999        5.26         71
4              75  330-6626       12.61        113

In [11]:
desired_columns = ["Account Length","Phone","Eve Charge","Day Calls"]
desired_columns

['Account Length', 'Phone', 'Eve Charge', 'Day Calls']

In [12]:
all_columns = df.columns.values.tolist()
all_columns

['State',
 'Account Length',
 'Area Code',
 'Phone',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Calls',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Eve Charge',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

In [13]:
resto = [x for x in all_columns if x not in desired_columns]
resto

['State',
 'Area Code',
 "Int'l Plan",
 'VMail Plan',
 'VMail Message',
 'Day Mins',
 'Day Charge',
 'Eve Mins',
 'Eve Calls',
 'Night Mins',
 'Night Calls',
 'Night Charge',
 'Intl Mins',
 'Intl Calls',
 'Intl Charge',
 'CustServ Calls',
 'Churn?']

## filtrado por filas

In [14]:
df[:5]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

### usuarios con mas de 500 minutos hablados

In [15]:
df[df["Day Mins"] > 300].shape

(43, 21)

In [16]:
df[df["State"] == 'NY'].shape

(83, 21)

In [17]:
df[(df["Day Mins"] > 300) & (df["State"] == 'NY')].shape

(2, 21)

In [18]:
df[(df["Day Mins"] > 300) | (df["State"] == 'NY')].shape

(124, 21)

In [19]:
df[df["Day Mins"] < df["Night Mins"]].shape

(2051, 21)

In [20]:
df[df["Day Mins"] > df["Night Mins"]].shape

(1280, 21)

In [21]:
# minutos de dia, de noche y logitud de la cuenta de los primeros 50 individuos
df[['Day Mins', 'Night Mins','Account Length']][:50].shape

(50, 3)

In [22]:
df.ix[1:10,3:6] # primeras 10 filas y de las ccolumnas de las 3 a la 6

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       Phone Int'l Plan VMail Plan
1   371-7191         no        yes
2   358-1921         no         no
3   375-9999        yes         no
4   330-6626        yes         no
5   391-8027        yes         no
6   355-9993         no        yes
7   329-9001        yes         no
8   335-4719         no         no
9   330-8173        yes        yes
10  329-6603         no         no

In [23]:
df.iloc[1:10,3:6]

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

In [24]:
df.iloc[:,3:6].shape

(3333, 3)

In [25]:
df.iloc[1:10,:].shape

(9, 21)

In [26]:
df.iloc[1:10,[1,3,7]]

   Account Length     Phone  Day Mins
1             107  371-7191     161.6
2             137  358-1921     243.4
3              84  375-9999     299.4
4              75  330-6626     166.7
5             118  391-8027     223.4
6             121  355-9993     218.2
7             147  329-9001     157.0
8             117  335-4719     184.5
9             141  330-8173     258.6

In [27]:
df.loc[[1,2,4,10],['Day Mins', 'Night Mins','Account Length']]

    Day Mins  Night Mins  Account Length
1      161.6       254.4             107
2      243.4       162.6             137
4      166.7       186.9              75
10     129.1       208.8              65

In [28]:
df["Total Mins"] = df["Day Mins"] + df["Night Mins"] + df["Eve Mins"]

In [29]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False.,707.2
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False.,611.5
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False.,527.2
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False.,558.2
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False.,501.9

In [30]:
df["Total Calls"] = df["Day Calls"] + df["Night Calls"] + df["Eve Calls"]

In [31]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?,Total Mins,Total Calls
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,244.7,91,11.01,10.0,3,2.70,1,False.,707.2,300
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,254.4,103,11.45,13.7,3,3.70,1,False.,611.5,329
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,162.6,104,7.32,12.2,5,3.29,0,False.,527.2,328
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,196.9,89,8.86,6.6,7,1.78,2,False.,558.2,248
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,186.9,121,8.41,10.1,3,2.73,3,False.,501.9,356

## Generacion de numeros aleatorios

In [35]:
np.random.randint(0,100)

44

In [37]:
#La forma mas clasica de generar num aleatorios entre 0 y 1
np.random.random()

0.03349888936790446

In [38]:
#funcion que genera una lista de num aleatorios entre el intervalo ab
def ranint_list(n, a, b):
    x = []
    for i in range(n):
        x.append(np.random.randint(a,b))
    return x

In [40]:
ranint_list(25,1,50)

[41,
 8,
 4,
 33,
 7,
 15,
 17,
 7,
 7,
 30,
 24,
 6,
 21,
 8,
 22,
 42,
 31,
 3,
 12,
 47,
 8,
 38,
 13,
 36,
 43]

In [41]:
import random

In [52]:
random.randrange(0,100,7) # multiplos de 7

84

### shuffling

In [54]:
a = np.arange(0,100)

In [55]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [56]:
np.random.shuffle(a)

In [57]:
a

array([68,  3, 89, 90, 35, 64, 37, 78, 19, 42, 11, 60, 62, 22, 82, 51,  4,
       31, 39, 65, 48, 93,  6, 24, 33, 25,  2, 57, 59, 23, 41, 73, 38,  0,
       96, 12,  8, 43, 81, 87, 29, 50, 99, 72, 80, 75, 56,  7, 85, 84, 66,
       21, 10, 58, 70, 94, 28, 61, 40, 34, 17,  1, 26, 27, 16, 13, 54, 15,
       95, 97, 67, 79, 74, 20, 55, 14, 69, 45, 83, 32,  5,  9, 52, 18, 77,
       44, 46, 71, 36, 86, 49, 30, 88, 92, 98, 47, 53, 63, 91, 76])

In [58]:
np.random.choice(a)

62

In [59]:
np.random.choice(a)

17