In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [3]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))
    
height = 160 + 30 * np.random.randn(n)
weigth = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [4]:
gender_data[1:10]

['Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Male',
 'Male',
 'Female']

In [5]:
income_data[1:10]

['Rich',
 'Middle Class',
 'Rich',
 'Middle Class',
 'Rich',
 'Middle Class',
 'Poor',
 'Rich',
 'Rich']

In [6]:
df = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weigth" : weigth,
        "Age" : age,
        "Income" : income
    }
)

In [7]:
df.head()

   Gender Economic Status      Height     Weigth        Age        Income
0    Male    Middle Class  157.643898  27.490742   6.835921  14144.886849
1    Male            Rich  171.387219  78.267517  53.915264   7404.516954
2  Female    Middle Class  211.081963  53.694748   7.398910  15375.387445
3  Female            Rich  187.563121  61.981066  28.192242  15575.967019
4    Male    Middle Class  192.602130  69.992717  29.450207  16522.013322

## Agrupaci√≥n de datos

In [8]:
grouped_gender = df.groupby("Gender")

In [9]:
grouped_gender.groups

{'Female': Int64Index([  2,   3,   5,   6,   9,  11,  12,  13,  17,  18,
             ...
             483, 484, 487, 488, 489, 493, 494, 495, 496, 498],
            dtype='int64', length=253),
 'Male': Int64Index([  0,   1,   4,   7,   8,  10,  14,  15,  16,  19,
             ...
             479, 480, 481, 485, 486, 490, 491, 492, 497, 499],
            dtype='int64', length=247)}