In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [7]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))
    
height = 160 + 30 * np.random.randn(n)
weigth = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [5]:
gender_data[1:10]

['Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male']

In [6]:
income_data[1:10]

['Middle Class',
 'Rich',
 'Middle Class',
 'Poor',
 'Poor',
 'Rich',
 'Rich',
 'Rich',
 'Rich']

In [8]:
df = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "Height" : height,
        "Weigth" : weigth,
        "Age" : age,
        "Income" : income
    }
)

In [9]:
df.head()

  Gender Economic Status      Height     Weigth        Age        Income
0   Male    Middle Class  145.274423  46.742683  24.623171  11594.631467
1   Male    Middle Class  165.004189  49.774366  48.265677  16752.745549
2   Male            Poor   74.103021  85.554862  44.263171  12004.484469
3   Male            Poor  145.552810  56.555083  17.190716  14241.823126
4   Male            Rich  234.921277  98.159140  29.069534  10873.671747